*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/

# Xcode
iosHyperskillApp/xcuserdata/
iosHyperskillApp/iosHyperskillApp.xcodeproj/xcuserdata/*

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

iosHyperskillApp/.build/

# CocoaPods
#
iosHyperskillApp/Pods/