*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/

# Xcode
**/xcuserdata/*

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

iosHyperskillApp/.build/

iosHyperskillApp/.idea/

## CocoaPods
iosHyperskillApp/Pods/

## fastlane
iosHyperskillApp/fastlane/report.xml
## Google Cloud Storage code signing certificates
iosHyperskillApp/gc_keys.json