# Specify files to encrypt:
#
# secretfile filter=git-crypt diff=git-crypt
# *.key filter=git-crypt diff=git-crypt
# secretdir/** filter=git-crypt diff=git-crypt

androidHyperskillApp/keys/debug_keystore.properties filter=git-crypt diff=git-crypt
androidHyperskillApp/keys/debug.properties filter=git-crypt diff=git-crypt
buildsystem/certs/** filter=git-crypt diff=git-crypt
shared/keys/** filter=git-crypt diff=git-crypt
sentry.properties filter=git-crypt diff=git-crypt

iosHyperskillApp/iosHyperskillApp/GoogleService-Info.plist filter=git-crypt diff=git-crypt
iosHyperskillApp/iosHyperskillApp/Sentry-Info.plist filter=git-crypt diff=git-crypt
iosHyperskillApp/fastlane/Appfile filter=git-crypt diff=git-crypt

.gitattributes !filter !diff