<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hyperskill.app.android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="26"/>

    <application
        android:label="@string/app_name"
        android:name=".HyperskillApp"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_app_icon"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:theme="@style/Theme.App.Starting">

        <meta-data android:name="io.sentry.auto-init" android:value="false" />

        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="org.hyperskill.app.android.main.view.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notification.receiver.AlarmReceiver" />

        <service
            android:name="org.hyperskill.app.android.notification.service.BootCompleteService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".notification.receiver.RescheduleNotificationsReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest> 