@media (prefers-color-scheme: light) {
    .alert-primary {
        background-color: #5d72e91f;
        border-color: #5d72e961;
    }

    .alert-warning {
        background-color: #fcba431f;
        border-color: #fcba4361;
    }

    .alert-danger {
        background-color: #f97a121f;
        border-color: #f97a1261;
    }
}

@media (prefers-color-scheme: dark) {
    .alert-primary {
        background-color: #a4aef21f;
        border-color: #a4aef261;
    }

    .alert-warning {
        background-color: #fdcf7a1f;
        border-color: #fdcf7a61;
    }

    .alert-danger {
        background-color: #ffaa651f;
        border-color: #ffaa6561;
    }
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-style: solid;
}

.type-report {
  opacity: 0.25;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.type-report:hover {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left !important;
}

h5 {
  margin-block-end: 0px;
}

h5 ~ p {
  margin-block-start: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

li > pre,
li + pre {
  margin-top: 0.5rem;
}

.alert {
  overflow: auto;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-font-sup {
  font-size: xx-small;
  vertical-align: super;
}

.table {
  float: unset;
  width: 100% !important;
  height: 100% !important;
  word-break: break-word;
  table-layout: fixed;
}

.content-section + .content-section {
  margin-top: 2.25rem;
}

-header-header_theory::before {
  content: "ยง" counter(section) ". ";
  counter-increment: section;
}

.katex {
  padding-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.katex::-webkit-scrollbar {
  height: 0.65rem;
  background: #fafafa;
  border-radius: 0.375rem;
}

.katex::-webkit-scrollbar-thumb {
  background-color: var(--black25);
  border-color: #fafafa;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.375rem;
}

.katex::-webkit-scrollbar-thumb:hover {
  background-color: var(--black75);
}

.katex::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 0.375rem;
}