name: Android Beta Deployment

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - 'release/**'
      - 'hotfix/**'
  push:
    branches:
      - 'release/**'
      - 'hotfix/**'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  # Run Gradle Wrapper Validation Action to verify the wrapper's checksum
  gradle-wrapper-validation:
    name: Gradle Wrapper Validation
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1.0.5

  # Build and submit to the Firebase App Distribution
  deployment:
    name: Android Beta Deployment
    needs: gradle-wrapper-validation
    runs-on: ubuntu-22.04
    environment: android_production

    steps:
    - name: Checkout
      uses: actions/checkout@v3.1.0

    - name: Setup CI
      id: setup
      uses: ./.github/actions/setup-android
      with:
        git-crypt-key: ${{ secrets.GIT_CRYPT_KEY }}
        hyperskill-release-keystore-content: ${{ secrets.HYPERSKILL_RELEASE_KEYSTORE_CONTENT }}

    - name: Submit a new Beta Build to Firebase
      run: ./gradlew assembleRelease appDistributionUploadRelease --appId=${{ secrets.FIREBASE_APP_ID }}
      env:
        IS_GIT_CRYPT_UNLOCKED: ${{ steps.setup.outputs.is-git-crypt-unlocked }}
        HYPERSKILL_KEYSTORE_PATH: ${{ steps.setup.outputs.release-keystore-path }}
        HYPERSKILL_RELEASE_STORE_PASSWORD: ${{ secrets.HYPERSKILL_RELEASE_STORE_PASSWORD }}
        HYPERSKILL_RELEASE_KEY_ALIAS: ${{ secrets.HYPERSKILL_RELEASE_KEY_ALIAS }}
        HYPERSKILL_RELEASE_KEY_PASSWORD: ${{ secrets.HYPERSKILL_RELEASE_KEY_PASSWORD }}
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        GITHUB_USER: ${{ github.actor }}
        GITHUB_PERSONAL_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}