name: Detect what files changed

on:
  workflow_call:
    inputs:
      base:
        description: 'Branch, tag, or commit SHA against which the changes will be detected'
        default: 'develop'
        required: false
        type: string
      force_android:
        description: 'Force Android changes'
        required: false
        default: false
        type: boolean
      force_shared:
        description: 'Force shared changes'
        required: false
        default: false
        type: boolean
      force_ios:
        description: 'Force iOS changes'
        required: false
        default: false
        type: boolean
      force_analytic:
        description: 'Force analytic changes'
        required: false
        default: false
        type: boolean
    # Map the workflow outputs to job outputs
    outputs:
      android: 
        value: ${{ jobs.files-changed.outputs.android }}
      shared:
        value: ${{ jobs.files-changed.outputs.shared }}
      ios: 
        value: ${{ jobs.files-changed.outputs.ios }}
      analytic:
        value: ${{ jobs.files-changed.outputs.analytic }}

jobs:
  files-changed:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    # Map a step output to a job output
    outputs:
      android: ${{ inputs.force_android || steps.changes.outputs.android }}
      shared: ${{ inputs.force_shared || steps.changes.outputs.shared }}
      ios: ${{ inputs.force_ios || steps.changes.outputs.ios }}
      analytic: ${{ inputs.force_analytic || steps.changes.outputs.analytic }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.0

    - name: Detect changes
      uses: dorny/paths-filter@v2.11.1
      id: changes
      with:
        base: ${{ inputs.base }}
        filters: .github/filters.yaml