name: iOS unit testing

on:
  workflow_dispatch:
  # Runs at 00:00 UTC every Sunday
  schedule:
    - cron: "0 0 * * 0"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  unit-testing:
    name: Run iOS unit tests
    runs-on: macos-13
    timeout-minutes: 60

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.0
      
    - name: Setup CI
      id: setup
      uses: ./.github/actions/setup-ios
      with:
        git-crypt-key: ${{ secrets.GIT_CRYPT_KEY }}

    - name: Run unit tests
      working-directory: './iosHyperskillApp'
      run: bundle exec fastlane run_unit_tests install_pods:false
      env:
        FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 60
        IS_GIT_CRYPT_UNLOCKED: ${{ steps.setup.outputs.is-git-crypt-unlocked }}
        GITHUB_USER: ${{ github.actor }}
        GITHUB_PERSONAL_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
