name: Mark stale issues and pull requests

on:
  # Runs at 01:30 UTC every day
  schedule:
    - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-22.04
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v6.0.1
        with:
          days-before-stale: 30
          days-before-close: 7
          stale-issue-label: 'stale'
          stale-issue-message: 'This issue is stale because it has been open for 30 days with no activity.'
          close-issue-message: 'This issue was closed because it has been inactive for 7 days since being marked as stale.'
          stale-pr-label: 'stale'
          stale-pr-message: 'This PR is stale because it has been open for 30 days with no activity.'
          close-pr-message: 'This PR was closed because it has been inactive for 7 days since being marked as stale.'
          repo-token: ${{ secrets.GITHUB_TOKEN }}